@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100%;
    width: 100%;
}

body {
    font-family: Georgia, "Times New Roman", serif;
}

/* AETHERION SCROLLBAR */
.scrollbar-aetherion::-webkit-scrollbar {
    width: 6px;
}

.scrollbar-aetherion::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar-aetherion::-webkit-scrollbar-thumb {
    background-color: #475569;
    border-radius: 999px;
}

.scrollbar-aetherion::-webkit-scrollbar-thumb:hover {
    background-color: #64748b;
}

.scrollbar-aetherion {
    scrollbar-width: thin;
    scrollbar-color: #9da4ae transparent;
}