@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100%;
    width: 100%;
}

body {
    font-family: Georgia, "Times New Roman", serif;
}

/* AETHERION SCROLLBAR */

.scrollbar-aetherion::-webkit-scrollbar {
    width: 8px;
}

.scrollbar-aetherion::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar-aetherion::-webkit-scrollbar-thumb {
    background: #475569;
    border: 2px solid transparent;
    background-clip: content-box;
    border-radius: 999px;
}

.scrollbar-aetherion::-webkit-scrollbar-thumb:hover {
    background: #64748b;
    background-clip: content-box;
}

.scrollbar-aetherion {
    scrollbar-width: thin;
    scrollbar-color: #9ea5af transparent;
}